//================================
// HERO CONTENT
//================================
body {
  overflow: hidden;
}

.hero-content {
  text-align: center;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateY(-40px);
}

//================================
// TITLE LAYOUT
//================================

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

//================================
// STATIC YELLOW
//================================

.title-top img {
  display: block;
  height: 140px;
}

//================================
// CHIPS STACK
//================================
.chips-wrap {
  position: relative;
  width: 320px;
  height: 140px;
}

.chips-wrap img {
  display: block;
  height: 140px;
}
 

// båda SVG exakt ovanpå varandra
.chips-yellow img,
.chips-red img {
  position: absolute;
  top: 0;
  left: 0;
}

// gul visas först
.chips-yellow {
  opacity: 1;
}

// röd gömd först
.chips-red {
  opacity: 0;
}

//================================
// SUBTITLE
//================================

.hero-subtitle {
  margin-top: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #ffd000;
}


